body{
    height:620px;
    width:1023px;
    position:absolute;
    box-sizing:border-box;
    transform-origin: 0 0;
    -moz-transform-origin:0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
 }
 
p.header-text {
    text-align: center;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
    padding: 0;
    position: relative;
    top: 9px;
    height: 19px;
}

.modal-header1 {
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 35px;
    background: #AFA6A7 0% 0% no-repeat padding-box;
    opacity: 1;
}

.navigation-bar {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
}

.logo {
    position: relative;
    top: 33px;
    left: 614px;
    width: 109px;
    height: 47px;
    opacity: 1;
}
.navigation-bar > a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
    top: 44px;
    left: 930px;
    width: 24px;
    height: 24px;
}

.modal-section1 {
    position: relative;
    top: 40px;
    left: 0px;
    width: 1920px;
    height: 513px;
    background: #AFA6A7 0% 0% no-repeat padding-box;
    opacity: 1;
}

.img-section {
    position: relative;
    left: 560px;
    width: 804px;
    height: 513px;
}
 
.h1-section {
    position: relative;
    top: -300px;
    left: 560px;
    width: 804px;
    height: 169px;
    text-align: center;
    font: normal normal normal 66px/76px Times New Roman;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.p-section {
    position: relative;
    top: -400px;
    left: 782px;
    width: 366px;
    height: 27px;
    text-align: center;
    font: normal normal normal 18px/22px Verdana;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.btn-section {
    position: relative;
    top: -367px;
    left: 864px;
    width: 201px;
    height: 52px;
    border: 2px solid #FFFFFF;
    opacity: 1;
    background: transparent;
    text-align: center;
    font: normal normal normal 12px/15px Verdana;
    letter-spacing: 0.66px;
    color: #FFFFFF;
    opacity: 1;
}

.btn-section:hover {
    color: #111111;
    border: 2px solid #111111;
}

.h2-article {
    position: relative;
    top: 80px;
    left: 573px;
    width: 791px;
    height: 84px;
    text-align: left;
    font: normal normal normal 66px/76px Times New Roman;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.p-article1 {
    position: relative;
    top: 80px;
    left: 580px;
    width: 784px;
    height: 129px;
    text-align: left;
    font: normal normal normal 18px/44px Verdana;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.btn-article {
    text-align: left;
    font: normal normal bold 12px/15px Verdana;
    letter-spacing: 0.66px;
    color: #AFA6A7;
    opacity: 1;
    border: none;
    background: transparent;
}

.modal-article1 .btn-article {
    position: relative;
    top: 80px;
    left: 581px;
    width: 201px;
    height: 16px;
}

.btn-article:hover {
    color: #000000;
}

.h3-article {
    position: relative;
    top: 140px;
    left: 573px;
    width: 791px;
    height: 84px;
    text-align: center;
    font: normal normal normal 66px/76px Times New Roman;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.p2-article {
    position: relative;
    top: 130px;
    left: 784px;
    width: 355px;
    max-height: 90px;
    text-align: center;
    font: normal normal normal 18px/44px Verdana;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    border: none;
    margin: 0 15px 0 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: 150px;
    left: 556px;
    width: 253px;
    height: 190px;
}

.card-title {
    position: relative;
    width: 236px;
    height: 51px;
    text-align: left;
    font: normal normal normal 33px/37px Times New Roman;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.card-text {
    position: relative;
    width: 216px;
    height: 44px;
    text-align: left;
    font: normal normal normal 18px/22px Verdana;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text2 {
    position: relative;
    width: 216px;
    height: 30px;
    text-align: left;
    font: normal normal bold 18px/44px Verdana;
    letter-spacing: 0px;
    color: #AFA6A7;
    opacity: 1;
}

.btn-card {
    position: relative;
    left: -18px;
    width: 253px;
    height: 52px;
    border: 2px solid #000000;
    border-radius: 26px;
    opacity: 1;
    background: transparent;
}

.btn-card:hover {
    color: #AFA6A7;
    border: 2px solid #AFA6A7;
}

.modal-section2 {
    position: relative;
    top: 550px;
    left: 0px;
    width: 1920px;
    height: 470px;
    background: #AFA6A7 0% 0% no-repeat padding-box;
    opacity: 1;
}

.img-section2 {
    position: relative;
    left: 556px;
    width: 808px;
    height: 470px;
    opacity: 1;
}

.h1-section2 {
    position: relative;
    top: -420px;
    left: 581px;
    width: 100px;
    height: 301px;
    text-align: left;
    font: normal normal normal 66px/76px Times New Roman;
    letter-spacing: 0px;
    color: #FFFFFF;
    word-wrap: normal;
    opacity: 1;
}

.p-section2 {
    position: relative;
    top: -725px;
    left: 987px;
    width: 329px;
    height: 366px;
    text-align: left;
    font: normal normal normal 18px/44px Verdana;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.img-article2 {
    position: relative;
    top: 650px;
    left: 553px;
    width: 405px;
    height: 580px;
    opacity: 1;
}

.h2-article2 {
    position: relative;
    top: 120px;
    left: 1019px;
    width: 345px;
    height: 84px;
    text-align: left;
    font: normal normal normal 66px/76px Times New Roman;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.p-article2 {
    position: relative;
    top: 150px;
    left: 1026px;
    width: 280px;
    height: 225px;
    text-align: left;
    font: normal normal normal 18px/44px Verdana;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    overflow: hidden;
}

.modal-article2 .anchor1 .btn-article {
    position: relative;
    top: -90px;
    left: 1027px;
    width: 201px;
    height: 16px;
}

.img-article3 {
    position: relative;
    top: 450px;
    left: 750px;
    width: 405px;
    height: 580px;
    opacity: 1;
}

.h2-article3 {
    position: relative;
    top: -40px;
    left: 620px;
    width: 338px;
    height: 84px;
    text-align: left;
    font: normal normal normal 66px/76px Times New Roman;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.p-article3 {
    position: relative;
    top: 0px;
    left: 627px;
    width: 273px;
    height: 173px;
    text-align: left;
    font: normal normal normal 18px/44px Verdana;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    overflow: hidden;
}

.modal-article2 .anchor2 .btn-article {
    position: relative;
    top: 20px;
    left: 628px;
    width: 201px;
    height: 16px;
}

.modal-section3 {
    position: relative;
    top: 200px;
    left: 0px;
    width: 1920px;
    height: 1140px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    opacity: 1;
}

.h1-section3 {
    position: relative;
    top: 98px;
    left: 573px;
    width: 791px;
    height: 84px;
    text-align: center;
    font: normal normal normal 66px/76px Times New Roman;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.p-section3 {
    position: relative;
    top: 116px;
    left: 784px;
    width: 355px;
    height: 90px;
    text-align: center;
    font: normal normal normal 18px/44px Verdana;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    overflow: hidden;
}

.img-section3 {
    position: relative;
    top: 145px;
    left: 571px;
    width: 373px;
    height: 264px;
    opacity: 1;
}

.img-section4 {
    position: relative;
    display: block;
    top: 175px;
    left: 572px;
    width: 373px;
    height: 264px;
    opacity: 1;
}

.img-section5 {
    position: relative;
    display: block;
    top: -380px;
    left: 976px;
    width: 373px;
    height: 552px;
    opacity: 1;
}

.img-section6 {
    position: relative;
    display: block;
    top: -305px;
    left: 556px;
    width: 808px;
    height: 168px;
    opacity: 1;
}

.modal-section4 {
    position: relative;
    top: 230px;
    left: 0px;
    width: 1920px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.div1 {
    border-right: 1px solid #000000;
    opacity: 1;
    width: 960px;
}

.h6-section4 {
    position: relative;
    top: 0px;
    left: 602px;
    width: 311px;
    height: 40px;
    text-align: left;
    font: normal normal bold 22px/26px Times New Roman;
    letter-spacing: 0px;
    color: #000506;
    text-shadow: 0px 3px 6px #FFE30F27;
    opacity: 1;
}

.p-section4 {
    position: relative;
    top: -10px;
    left: 602px;
    width: 200px;
    height: 35px;
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    overflow: hidden;
}

.modal-section4 a img {
    position: relative;
    margin-right: 5px;
    top: -10px;
    left: 598px;
    width: 22px;
    height: 22px;
    opacity: 1;
}

.modal-section4 a img:nth-child(2) {    
    width: 33px;
    height: 33px;
    opacity: 1;
}

.modal-section4 a img:nth-child(3) { 
    width: 33px;
    height: 33px;
}

.modal-section5 {
    position: relative;
    top: 50px;
    left: 1223px;
    width: 98px;
    height: 42px;
    opacity: 1;
}

.img1-section5 {
    position: relative;
    top: 25px;
}

.p-section5 {
    position: relative;
    top: 40px;
    left: 13px;
    text-align: right;
    font: normal normal bold 14px/17px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.p2-section5 {
    position: relative;
    top: 40px;
    left: 13px;
    text-align: right;
    font: normal normal normal 12px/14px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.modal-footer1 {
    position: relative;
    top: 180px;
    left: 0px;
    width: 1920px;
    height: 35px;
    background: #AFA6A7 0% 0% no-repeat padding-box;
    opacity: 1;
}

.p-footer {
    position: relative;
    top: 9px;
    left: 670px;
    width: 523px;
    height: 19px;
    text-align: center;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.p-footer .a-footer {
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
}

.p-footer .a-footer:hover {
    color: #000000;
}